[Unit]
Description=Timer for option snapshots ingestion
Requires=ingest_snapshots.service

[Timer]
# Run at 23:30 (11:30 PM) America/Los_Angeles
# on the 1st, 3rd, 5th, and 7th day of each month
OnCalendar=*-*-* 23:30:00

# interpret the above in Los Angeles local time
Timezone=America/Los_Angeles

Persistent=true
AccuracySec=1s

[Install]
WantedBy=timers.target